<p>Hi,</p>
<p>The participant is forot their email and below is the details from particiant:</p>
<p>DOB: <%=dob %></p>
<p>Region: <%=region %></p>
<p>Gender: <%=gender %></p>
<p>Contact Number: <%=phoneNo %></p>
<p>Cheers,</p>
<p>Study team</p>