<p>Kia Ora <%= firstname %>,</p>
<p>Your new password will be <%= password %>, please use your email and the new password to login.</p>
<p>Please remember to change your password in the settings after login successfully.</p>
<p>Cheers,</p>
<p>Study team</p>